@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;900&display=swap');
.Super-Background {
    background-color: darkslategray;
}

.Panel {
    width: 100%;
    height: 100%;
    background-color: darkslategray;
    align-items: center;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: whitesmoke;
}
.Input-Equation {
    background-color: gray;
    border-radius: 5px;
    color: whitesmoke;
    width: 100px;
    margin: 10%;
}
.Input-Left {

}
.Input-Right {

.Login {
    display: flex;
    right: 0;

}

.Normal-text {
    color: whitesmoke;
}

}
.Input-Login {
    background-color: gray;
    border-radius: 5px;
    color: whitesmoke;
}